* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 1fr 1fr auto auto;
  grid-template-areas: "header header header header header header header header" "banner banner banner banner banner banner banner banner" "section1 section1 section1 section1 section1 section1 section1 section1" "section2 section2 section2 section2 section2 section2 section2 section2" "section3 section3 section3 section3 section3 section3 section3 section3" "section4 section4 section4 section4 section4 section4 section4 section4" "footer footer footer footer footer footer footer footer";
  width: 100%;
  height: 100%; }

.header {
  grid-area: header;
  /*FLEX HEADER INDEX*/
  display: flex;
  align-items: stretch;
  flex-direction: column; }

.banner {
  grid-area: banner;
  display: flex;
  flex-direction: column; }

/*IMAGEN BANNER*/
.banner__img {
  border-radius: 10px; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2;
  /*FLEX SECCION KOKOA INDEX*/
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  padding: 20px;
  background-color: #FDD692;
  border-radius: 40px; }

.section2__img {
  border-radius: 10px; }

.section3 {
  grid-area: section3;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  margin-top: 1rem;
  padding: 20px;
  background-color: #FDD692;
  border-radius: 40px; }

.section3__img {
  border-radius: 10px; }

.section4 {
  grid-area: section4;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  margin-top: 1rem;
  padding: 20px;
  background-color: #FDD692;
  border-radius: 40px;
  margin-bottom: 1rem; }

.section4__img {
  border-radius: 10px; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center; }

.rectangulo__p {
  text-align: center;
  margin-top: 5px;
  border: 2px solid #754F44;
  padding: 20px; }

/*// FIN INDEX//*/
/*   SECCION GALERIA   */
/*   MOBILE   */
.galeria-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "galeria-header galeria-header galeria-header galeria-header galeria-header galeria-header galeria-header galeria-header" "galeria-section1 galeria-section1 galeria-section1 galeria-section1 galeria-section1 galeria-section1 galeria-section1 galeria-section1" "galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa" "galeria-tobi galeria-tobi galeria-tobi galeria-tobi galeria-tobi galeria-tobi galeria-tobi galeria-tobi" "galeria-jenny galeria-jenny galeria-jenny galeria-jenny galeria-jenny galeria-jenny galeria-jenny galeria-jenny" "galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer";
  width: 100%;
  height: 100%; }

.galeria-header {
  grid-area: galeria-header; }

.galeria-section1 {
  grid-area: galeria-section1; }

.galeria-kokoa {
  grid-area: galeria-kokoa;
  margin-top: 2rem; }

.galeria-tobi {
  grid-area: galeria-tobi;
  margin-top: 2rem; }

.galeria-jenny {
  grid-area: galeria-jenny;
  margin-top: 2rem; }

.galeria-footer {
  grid-area: galeria-footer;
  margin-top: 2rem;
  display: flex;
  justify-content: center; }

.fotos-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .fotos-galeria .img {
    margin-left: 2px;
    margin-top: 5px;
    border: 2px solid #754F44;
    border-radius: 15px; }
    .fotos-galeria .img:hover {
      transform: scale(1.3); }

/*FIN SECCION GALERIA*/
/*MOBILE FIRST*/
/*   SECCION TIENDA    */
.tienda-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "tienda-header tienda-header tienda-header tienda-header tienda-header tienda-header tienda-header tienda-header" "tienda-section1 tienda-section1 tienda-section1 tienda-section1 tienda-section1 tienda-section1 tienda-section1 tienda-section1" "tienda-collares tienda-collares tienda-collares tienda-collares tienda-collares tienda-collares tienda-collares tienda-collares" "tienda-correas tienda-correas tienda-correas tienda-correas tienda-correas tienda-correas tienda-correas tienda-correas" "tienda-remera tienda-remera tienda-remera tienda-remera tienda-remera tienda-remera tienda-remera tienda-remera" "tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer"; }

.tienda-header {
  grid-area: tienda-header; }

.tienda-section1 {
  grid-area: tienda-section1;
  margin-bottom: 10px; }

.tienda-collares {
  grid-area: tienda-collares;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tienda-correas {
  grid-area: tienda-correas; }

.tienda-remera {
  grid-area: tienda-remera;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tienda-footer {
  grid-area: tienda-footer; }

.intro-p-tienda, .adopta-textos {
  text-align: center;
  font-weight: bold;
  margin-top: 5px; }

.productos-h3 {
  font-weight: bold; }

.productos-tienda {
  width: 10rem; }

.productos-tienda-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold; }

.productos-h5 {
  font-size: 1.1rem;
  font-weight: bold; }

.productos-margen {
  margin-left: 0.15rem;
  margin-bottom: 0.15rem;
  margin-top: 0.25rem; }

.productos-remera {
  text-align: center;
  font-weight: bold; }

/*   SECCION ADOPTA   */
.adopta-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "adopta-header adopta-header adopta-header adopta-header adopta-header adopta-header adopta-header adopta-header" "adopta-section1 adopta-section1 adopta-section1 adopta-section1 adopta-section1 adopta-section1 adopta-section1 adopta-section1" "adopta-section2 adopta-section2 adopta-section2 adopta-section2 adopta-section2 adopta-section2 adopta-section2 adopta-section2" "adopta-section3 adopta-section3 adopta-section3 adopta-section3 adopta-section3 adopta-section3 adopta-section3 adopta-section3" "adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer"; }

.adopta-header {
  grid-area: adopta-header; }

.adopta-section1 {
  grid-area: adopta-section1; }

.adopta-section2 {
  grid-area: adopta-section2;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.adopta-section3 {
  grid-area: adopta-section3;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.adopta-footer {
  grid-area: adopta-footer; }

.adopta-p {
  color: #754F44;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px; }

.adopta-textos {
  color: #754F44;
  font-size: 1.1rem; }

.adopta-h3 {
  color: #754F44;
  text-align: center;
  font-weight: bold;
  margin-top: 50px; }

.adopta-div-img {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .adopta-div-img img {
    margin-bottom: 10px;
    border-radius: 10px; }

.img-anim {
  transition: transform .2s; }
  .img-anim:hover {
    filter: saturate(180%);
    transform: scale(1.1); }

/*   SECCION CONTACTO   */
.contacto-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "contacto-header contacto-header contacto-header contacto-header contacto-header contacto-header contacto-header contacto-header" "contacto-section1 contacto-section1 contacto-section1 contacto-section1 contacto-section1 contacto-section1 contacto-section1 contacto-section1" "contacto-section2 contacto-section2 contacto-section2 contacto-section2 contacto-section2 contacto-section2 contacto-section2 contacto-section2" "contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer"; }

.contacto-header {
  grid-area: contacto-header; }

.contacto-section1 {
  grid-area: contacto-section1; }

.contacto-section2 {
  grid-area: contacto-section2;
  margin-top: 10px; }

.contacto-footer {
  grid-area: contacto-footer;
  margin-top: 10px; }

.contacto-section1__p {
  color: #754F44;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  text-align: center; }

.contacto-section2-p {
  color: #754F44;
  font-weight: bold; }

.contacto-label {
  margin-top: 10px; }

.contacto-input {
  padding: 5px; }

.contacto-form {
  display: flex;
  flex-direction: column; }

body {
  background-color: #FFFCE2;
  font-family: 'Montserrat', sans-serif; }

h1 {
  color: #754F44;
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
  padding: 5px; }

/*NAV*/
nav .nav-color {
  background-color: #754F44;
  border-radius: 20px; }

nav .nav-div ul li a {
  color: #FBFFB9; }
  nav .nav-div ul li a:hover {
    color: #FBFFB9; }

.logo {
  display: flex;
  justify-content: center; }

/*Comportamiento bootstrap. Agregado padding y margin 0 y align-items: center (antes no estaba)*/
.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0;
  margin: 0;
  height: 70px; }
  .ul li a:hover {
    color: #FBFFB9; }

header ul li {
  display: inline; }
  header ul li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #FBFFB9;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px; }
    header ul li a:hover {
      background-color: rgba(237, 198, 157, 0.2);
      border-radius: 15px; }

/*Titulos h2*/
.h2 {
  text-align: center;
  margin-top: 10px;
  background-color: palegreen;
  border: 2px solid palegreen;
  border-radius: 15px;
  font-weight: bold; }

/*TODAS LAS SECCIONES*/
.p {
  text-align: center;
  margin-top: 10px;
  background-color: rosybrown;
  border-radius: 15px;
  font-weight: bold;
  padding: 20px; }

/*TODAS LAS SECCIONES*/
.h3 {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  color: #754F44; }

/*FOOTER*/
.footer-ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0; }

.footer-all {
  margin-top: 1rem;
  color: white;
  padding: 20px; }
  .footer-all a {
    text-decoration: none;
    color: white;
    font-weight: bolder; }
  .footer-all .links {
    margin-top: 0.5rem; }
  .footer-all .redes {
    margin-left: 0.7rem;
    font-size: 1.5rem;
    color: white; }

footer {
  background-color: #754F44; }
  footer ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #FBFFB9; }

/*MEDIAQUERYS*/
/*MOBILE FIRST*/
/*SECCION INDEX*/
@media (min-width: 768px) {
  nav .nav-color {
    height: 5rem; }
  nav .nav-div ul li a {
    font-size: 25px; }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto 1fr auto;
    grid-template-areas: ". . header header header header header header . ." ". . banner banner banner banner banner banner . ." ". . section1 section1 section1 section1 section1 section1 . ." ". . section2 section2 section2 section2 section2 section2 . ." ". . section3 section3 section3 section3 section3 section3 . ." ". . section4 section4 section4 section4 section4 section4 . ." "footer footer footer footer footer footer footer footer footer footer"; }
  /*HEADER*/
  .header {
    grid-area: header;
    /*FLEX HEADER INDEX*/
    display: flex;
    flex-direction: row;
    align-items: center; }
  /*NAVEGACION HEADER*/
  .ul {
    display: flex;
    justify-content: normal;
    width: auto; }
  nav {
    width: 100%;
    height: auto; }
  /*FIN NAVEGACION HEADER*/
  /*TITULO H2*/
  .h2 {
    padding: 10px;
    margin-top: 30px; }
  .p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px; }
  /*SECCION 2 = KOKOA*/
  .section2 {
    flex-direction: row-reverse;
    align-items: center; }
  .rectangulo {
    margin-right: 10px;
    margin-left: 10px; }
  /*SECCION 3 = TOBI*/
  .section3 {
    flex-direction: row;
    align-items: center; }
  /*SECCION 4 = JENNY*/
  .section4 {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px; }
  /*FIN INDEX*/
  /*SECCION GALERIA*/
  .galeria-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: ". . galeria-header galeria-header galeria-header galeria-header galeria-header galeria-header . ." ". . galeria-section1 galeria-section1 galeria-section1 galeria-section1 galeria-section1 galeria-section1 . ." ". . galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa galeria-kokoa . ." ". . galeria-tobi galeria-tobi galeria-tobi galeria-tobi galeria-tobi galeria-tobi . ." ". . galeria-jenny galeria-jenny galeria-jenny galeria-jenny galeria-jenny galeria-jenny . ." "galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer galeria-footer"; }
  .galeria-header {
    display: flex;
    align-items: center; }
  .fotos-galeria img {
    margin-right: 5px; }
  /*FIN SECCION GALERIA*/
  /*SECCION TIENDA*/
  .tienda-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: ". . tienda-header tienda-header tienda-header tienda-header tienda-header tienda-header . ." ". . tienda-section1 tienda-section1 tienda-section1 tienda-section1 tienda-section1 tienda-section1 . ." ". . tienda-collares tienda-collares tienda-collares tienda-collares tienda-collares tienda-collares . ." ". . tienda-correas tienda-correas tienda-correas tienda-correas tienda-correas tienda-correas . ." ". . tienda-remera tienda-remera tienda-remera tienda-remera tienda-remera tienda-remera . ." "tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer tienda-footer"; }
  .tienda-header {
    display: flex;
    align-items: center; }
  .productos-tienda {
    width: 16rem; }
  .tienda-footer {
    margin-top: 1rem; }
  /*FIN SECCION TIENDA*/
  /*SECCION ADOPTA*/
  .adopta-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: ". . adopta-header adopta-header adopta-header adopta-header adopta-header adopta-header . ." ". . adopta-section1 adopta-section1 adopta-section1 adopta-section1 adopta-section1 adopta-section1 . ." ". . adopta-section2 adopta-section2 adopta-section2 adopta-section2 adopta-section2 adopta-section2 . ." ". . adopta-section3 adopta-section3 adopta-section3 adopta-section3 adopta-section3 adopta-section3 . ." "adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer adopta-footer"; }
  .adopta-section2 {
    align-items: center; }
  .adopta-section3 {
    align-items: center; }
  .adopta-div-img {
    flex-direction: row; }
  .adopta-div-img img {
    margin-left: 5px; }
  .adopta-header {
    display: flex;
    align-items: center; }
  /*FIN SECCION ADOPTA*/
  /*SECCION CONTACTO*/
  .contacto-grid-container {
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: ". . contacto-header contacto-header contacto-header contacto-header contacto-header contacto-header . ." ". . contacto-section1 contacto-section1 contacto-section1 contacto-section1 contacto-section1 contacto-section1 . ." ". . contacto-section2 contacto-section2 contacto-section2 contacto-section2 contacto-section2 contacto-section2 . ." "contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer contacto-footer"; }
  .contacto-form {
    align-items: flex-start; }
  .contacto-button {
    margin-top: 5px; }
  /*FIN SECCION CONTACTO*/ }

@media (max-width: 991px) and (min-width: 768px) {
  nav .nav-color {
    height: 10rem; }
  nav .nav-div ul li a {
    font-size: 15px; } }
